<p id="notice"><%= notice %></p>

<h1>SE31520 Assignment 1 2017-18</h1>

<br>

<p> This is the home page for part 1 of the SE31520 Assignment. As stated
within the assignment brief, this site contains the home, users and posts tabs that
the user can access by simply clicking on them. Both the uses and posts sections
allow the user to see the current users and posts stored within the database.</p>

<br>

<p>The users and the posts are also linked via the email addresses. Finally, the paginaion
used within the application is similar to that of the CSA application used during the practicals.</p>